In [1]:
import pandas as pd
import os
os.chdir("C://specdata/bank")

In [2]:
train = pd.read_csv("train_data.csv")
test = pd.read_csv("test_data.csv")

In [3]:
train.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
train['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [5]:
import plotly.plotly as py
import plotly.graph_objs as go

# Create random data with numpy
import numpy as np

# Create a trace
trace = go.Scatter(
    x = train['Loan_ID'],
    y = train['ApplicantIncome'],
    mode = 'markers'
)

data = [trace]

# Plot and embed in ipython notebook!
py.iplot(data, filename='basic-scatter')

In [6]:
train['income']= train['ApplicantIncome']+ train['CoapplicantIncome']

In [7]:
train.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status',
       'income'],
      dtype='object')

In [8]:
train_subset1= train[['Loan_ID','Gender','Married','Dependents', 'Education','Self_Employed',
                      'LoanAmount','Loan_Amount_Term', 'Credit_History','Property_Area', 'Loan_Status','income']]

In [9]:
train_subset1.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,income
0,LP001002,Male,No,0,Graduate,No,NaN,360.0,1.0,Urban,Y,5849.0
1,LP001003,Male,Yes,1,Graduate,No,128.0,360.0,1.0,Rural,N,6091.0
2,LP001005,Male,Yes,0,Graduate,Yes,66.0,360.0,1.0,Urban,Y,3000.0

In [10]:
train_subset1['Gender_male']= train_subset1.Gender.map({'Female':0,'Male':1})
train_subset1['Married_yes']= train_subset1.Married.map({'No':0,'Yes':1})
train_subset1['Graduate_yes']= train_subset1.Education.map({'Not Graduate':0,'Graduate':1})
train_subset1['Property_Urban']= train_subset1.Property_Area.map({'Rural':0, 'Semiurban': 1,'Urban':2})
train_subset1['Self_Employed_Yes']= train_subset1.Self_Employed.map({'No':0,'Yes':1})

C:\Users\Amar\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
train_subset1.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,income,Gender_male,Married_yes,Graduate_yes,Property_Urban,Self_Employed_Yes
0,LP001002,Male,No,0,Graduate,No,NaN,360.0,1.0,Urban,Y,5849.0,1.0,0.0,1,2,0.0
1,LP001003,Male,Yes,1,Graduate,No,128.0,360.0,1.0,Rural,N,6091.0,1.0,1.0,1,0,0.0
2,LP001005,Male,Yes,0,Graduate,Yes,66.0,360.0,1.0,Urban,Y,3000.0,1.0,1.0,1,2,1.0
3,LP001006,Male,Yes,0,Not Graduate,No,120.0,360.0,1.0,Urban,Y,4941.0,1.0,1.0,0,2,0.0
4,LP001008,Male,No,0,Graduate,No,141.0,360.0,1.0,Urban,Y,6000.0,1.0,0.0,1,2,0.0

In [12]:
train_subset1.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
       'Property_Area', 'Loan_Status', 'income', 'Gender_male', 'Married_yes',
       'Graduate_yes', 'Property_Urban', 'Self_Employed_Yes'],
      dtype='object')

In [13]:
train_subset2= train_subset1[['Loan_ID','Dependents',
       'Self_Employed_Yes', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
        'Loan_Status', 'income', 'Gender_male', 'Married_yes',
       'Graduate_yes', 'Property_Urban']]

In [14]:
train_subset2.head(5)

,Loan_ID,Dependents,Self_Employed_Yes,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,income,Gender_male,Married_yes,Graduate_yes,Property_Urban
0,LP001002,0,0.0,NaN,360.0,1.0,Y,5849.0,1.0,0.0,1,2
1,LP001003,1,0.0,128.0,360.0,1.0,N,6091.0,1.0,1.0,1,0
2,LP001005,0,1.0,66.0,360.0,1.0,Y,3000.0,1.0,1.0,1,2
3,LP001006,0,0.0,120.0,360.0,1.0,Y,4941.0,1.0,1.0,0,2
4,LP001008,0,0.0,141.0,360.0,1.0,Y,6000.0,1.0,0.0,1,2

In [15]:
for people in range(len(train_subset2['Dependents'])):
    if train_subset2['Dependents'][people]=='3+':
        train_subset2['Dependents'][people]=3

C:\Users\Amar\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Amar\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2881: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
train_subset2.head(3)

,Loan_ID,Dependents,Self_Employed_Yes,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,income,Gender_male,Married_yes,Graduate_yes,Property_Urban
0,LP001002,0,0.0,NaN,360.0,1.0,Y,5849.0,1.0,0.0,1,2
1,LP001003,1,0.0,128.0,360.0,1.0,N,6091.0,1.0,1.0,1,0
2,LP001005,0,1.0,66.0,360.0,1.0,Y,3000.0,1.0,1.0,1,2

In [17]:
trainx= train_subset2[['Dependents',
       'Self_Employed_Yes', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History',
       'income', 'Gender_male', 'Married_yes',
       'Graduate_yes', 'Property_Urban']]
trainy= train_subset2['Loan_Status']

In [18]:
trainx.head(5)

,Dependents,Self_Employed_Yes,LoanAmount,Loan_Amount_Term,Credit_History,income,Gender_male,Married_yes,Graduate_yes,Property_Urban
0,0,0.0,NaN,360.0,1.0,5849.0,1.0,0.0,1,2
1,1,0.0,128.0,360.0,1.0,6091.0,1.0,1.0,1,0
2,0,1.0,66.0,360.0,1.0,3000.0,1.0,1.0,1,2
3,0,0.0,120.0,360.0,1.0,4941.0,1.0,1.0,0,2
4,0,0.0,141.0,360.0,1.0,6000.0,1.0,0.0,1,2

In [19]:
trainx.to_csv('trainx.csv')

Scenario 1: Dropping all the missing values. trainx1 and trainy1

In [20]:
train_subset3=train_subset2.dropna()

In [21]:
train_subset3.shape

(480, 12)

In [22]:
train_subset3.columns
trainx1=train_subset3[['Dependents', 'Self_Employed_Yes', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'income',
       'Gender_male', 'Married_yes', 'Graduate_yes', 'Property_Urban']]
trainy1=train_subset3['Loan_Status']

In [23]:
from sklearn.naive_bayes import GaussianNB
from sklearn.cross_validation import cross_val_score
clf = GaussianNB()
scores = cross_val_score(clf, trainx1, trainy1, cv=10)
scores

array([ 0.79591837,  0.79591837,  0.75      ,  0.79166667,  0.75      ,
        0.77083333,  0.875     ,  0.83333333,  0.74468085,  0.82978723])

In [24]:
scores.mean()

0.79371381531335938

In [25]:
train_subset2.isnull().sum()

Loan_ID               0
Dependents           15
Self_Employed_Yes    32
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Loan_Status           0
income                0
Gender_male          13
Married_yes           3
Graduate_yes          0
Property_Urban        0
dtype: int64

Scenario2: feature engineering: 
        1. Income/dependent
        2. amount/term

In [26]:
from sklearn import tree
from sklearn.cross_validation import cross_val_score
from pprint import pprint
clf_dt = tree.DecisionTreeClassifier()
scores = cross_val_score(estimator=clf_dt, X=trainx1, y=trainy1, cv=10)

In [27]:
scores.mean()

0.69794923288464328